<h3>Crear un componente enlazado que con un solo card me traiga toda la info como en la seccion cursos</h3>

<div class="container mt-3 mb-3">
    <div class="d-flex flex-row align-items-center"></div>
    <div class="heading mt-2"> <span>¿Qué es una Corriente Psicológica? <br>Te contamos un poco de que se trata</span>
    </div>
    <div class="row mt-1 g-6">
        <div class="col-md-4">
            <div class="card p-2">
                <div class="d-flex p-1 px-4 align-items-center"> <span class="square"><img
                            src=" https://i.imgur.com/6YiLBAv.png" height="20" width="20" /></span> </div>
                <div class="email mt-1"> <span>Terapia Psicoanalítica</span>
                    <div class="dummytext mt-1">
                        <span><strong>El inconsciente y sus manifestaciones </strong> La terapia
                            psicoanalítica parte de un concepto de mente en el que se incluye el subconsciente, al que
                            no se puede tener un acceso directo, pero sí se puede llegar a conocer a través de las
                            formas que tiene de manifestarse como los sueños o las fantasías.</span><br>
                        <strong>El pasado </strong><span>Al contrario de lo que ocurre en otras ramas de la psicología,
                            en el psicoanálisis se tiene en cuenta el pasado de las personas y cómo ese pasado ha
                            influido en la situación actual, en las formas de actuar y de pensar.</span><br>
                        <strong>La defensa </strong><span>Las personas pueden tener en su mente zonas ocultas que
                            defienden ante los terapeutas para que no salgan a la luz. Estos mecanismos de defensa son
                            estudiados por el psicoanálisis para tratar de llegar al inconsciente.</span>
                    </div>
                </div>
                <div class="d-flex flex row align-items-center mr-2 mt-2">
                    <button type="button" class="btn btn-outline-info"> +Info</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-2">
                <div class="d-flex p-1 px-4 align-items-center"> <span class="square1"><img
                            src="https://i.imgur.com/Fk9PCm4.png" height="20" width="20" /></span> </div>
                <div class="email mt-1"> <span>Terapia Cognitiva Conductual</span>
                    <div class="dummytext mt-1"><span><strong>¿Qué es la TCC?</strong><br>
                            <span>Es una forma de entender cómo piensa uno acerca de sí mismo, de otras personas y del
                                mundo que le rodea, y cómo lo que uno hace afecta a sus pensamientos y
                                sentimientos.</span> <br>
                            <strong>¿Para que sirve?</strong><span></span>La TCC le puede ayudar a cambiar la forma cómo
                            piensa ("cognitivo") y cómo actúa ("conductual") y estos cambios le pueden ayudar a sentirse
                            mejor. A diferencia de algunas de las otras "terapias habladas", la TCC se centra en
                            problemas y dificultades del "aquí y ahora". En lugar de centrarse en las causas de su
                            angustia o síntomas en el pasado, busca maneras de mejorar su estado anímico ahora</span>

                        <br>
                    </div>
                </div>
                <div class="d-flex flex row align-items-center mr-2 mt-2">
                    <button type="button" class="btn btn-outline-info"> +Info</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-2">
                <div class="d-flex p-1 px-4 align-items-center"> <span class="square2"><img
                            src=" https://i.imgur.com/oDTv0SF.png" height="20" width="20" /></span> </div>
                <div class="email mt-1"> <span>Terapia Gestalt </span><br>
                    <div class="dummytext mt-1"><strong>De que se trata? </strong><span>La Terapia Gestalt es una terapia perteneciente a la Psicología Humanista(o Tercera Fuerza), la cual se caracteriza por no estar hecha exclusivamente para tratar enfermedades, sino también para desarrollar el potencial humano.</span> <br>
                        <strong>En que enfoca? </strong><span>La terapia Gestalt se enfoca más en los procesos que en los contenidos. Pone énfasis sobre lo que está sucediendo, se está pensado y sintiendo en el momento, más que en el pasado. En este sentido, se habla del aquí y ahora, no para dejar de lado la historia de la persona, sino que esta historia se mira desde el presente, cómo se viven, afectan, etc.… los hechos pasados a día de hoy. La persona es quien es, entre otros, por lo que ha vivido.</span>
                    </div>
                </div>
                <div class="d-flex flex row align-items-center mr-2 mt-2">
                    <button type="button" class="btn btn-outline-info"> +Info</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-2">
                <div class="d-flex p-1 px-4 align-items-center"> <span class="square1"><img
                            src="https://i.imgur.com/Fk9PCm4.png" height="20" width="20" /></span> </div>
                <div class="email mt-1"> <span>Terapia Cognitiva Conductual</span>
                    <div class="dummytext mt-1"><span><strong>¿Qué es la TCC?</strong><br>
                            <span>Es una forma de entender cómo piensa uno acerca de sí mismo, de otras personas y del
                                mundo que le rodea, y cómo lo que uno hace afecta a sus pensamientos y
                                sentimientos.</span> <br>
                            <strong>¿Para que sirve?</strong><span></span>La TCC le puede ayudar a cambiar la forma cómo
                            piensa ("cognitivo") y cómo actúa ("conductual") y estos cambios le pueden ayudar a sentirse
                            mejor. A diferencia de algunas de las otras "terapias habladas", la TCC se centra en
                            problemas y dificultades del "aquí y ahora". En lugar de centrarse en las causas de su
                            angustia o síntomas en el pasado, busca maneras de mejorar su estado anímico ahora</span>

                        <br>
                    </div>
                </div>
                <div class="d-flex flex row align-items-center mr-2 mt-2">
                    <button type="button" class="btn btn-outline-info"> +Info</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-2">
                <div class="d-flex p-1 px-4 align-items-center"> <span class="square2"><img
                            src=" https://i.imgur.com/oDTv0SF.png" height="20" width="20" /></span> </div>
                <div class="email mt-1"> <span>Terapia Gestalt </span><br>
                    <div class="dummytext mt-1"><strong>De que se trata? </strong><span>La Terapia Gestalt es una terapia perteneciente a la Psicología Humanista(o Tercera Fuerza), la cual se caracteriza por no estar hecha exclusivamente para tratar enfermedades, sino también para desarrollar el potencial humano.</span> <br>
                        <strong>En que enfoca? </strong><span>La terapia Gestalt se enfoca más en los procesos que en los contenidos. Pone énfasis sobre lo que está sucediendo, se está pensado y sintiendo en el momento, más que en el pasado. En este sentido, se habla del aquí y ahora, no para dejar de lado la historia de la persona, sino que esta historia se mira desde el presente, cómo se viven, afectan, etc.… los hechos pasados a día de hoy. La persona es quien es, entre otros, por lo que ha vivido.</span>
                    </div>
                </div>
                <div class="d-flex flex row align-items-center mr-2 mt-2">
                    <button type="button" class="btn btn-outline-info"> +Info</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-2">
                <div class="d-flex p-1 px-4 align-items-center"> <span class="square"><img
                            src=" https://i.imgur.com/6YiLBAv.png" height="20" width="20" /></span> </div>
                <div class="email mt-1"> <span>Terapia Psicoanalítica</span>
                    <div class="dummytext mt-1">
                        <span><strong>El inconsciente y sus manifestaciones </strong> La terapia
                            psicoanalítica parte de un concepto de mente en el que se incluye el subconsciente, al que
                            no se puede tener un acceso directo, pero sí se puede llegar a conocer a través de las
                            formas que tiene de manifestarse como los sueños o las fantasías.</span><br>
                        <strong>El pasado </strong><span>Al contrario de lo que ocurre en otras ramas de la psicología,
                            en el psicoanálisis se tiene en cuenta el pasado de las personas y cómo ese pasado ha
                            influido en la situación actual, en las formas de actuar y de pensar.</span><br>
                        <strong>La defensa </strong><span>Las personas pueden tener en su mente zonas ocultas que
                            defienden ante los terapeutas para que no salgan a la luz. Estos mecanismos de defensa son
                            estudiados por el psicoanálisis para tratar de llegar al inconsciente.</span>
                    </div>
                </div>
                <div class="d-flex flex row align-items-center mr-2 mt-2">
                    <button type="button" class="btn btn-outline-info"> +Info</button>
                </div>
            </div>
        </div>
    </div>
</div>