<!-- Navigation -->
<head class="navbar navbar-light bg-light static-top">
    <div>
        <a class="navbar-brand" href="#">Psyweb, tu espacio para conocerte</a>
        <a class="btn btn-primary a" type="submit" [routerLink]="'/login'" aria-current="page">Ingresar</a>
        <a class="btn btn-primary " href="#">Registrarse</a>
    </div>
</head>
<nav class="nav-menu">
    <ul class="sub_nav">
        <li><a [routerLink]="'/inicio'" aria-current="page" href="#" href="#">Inicio</a></li>
        <li><a [routerLink]="'/consultas'" aria-current="page" href="#">Consultas</a></li>
        <li><a [routerLink]="'/terapias'" aria-current="page">Terapias</a></li>
        <li><a [routerLink]="'/tarifas'" aria-current="page" href="#">Tarifas</a></li>
        <li><a [routerLink]="'/contacto'" aria-current="page" href="#">Contactanos</a></li>
    </ul>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>

