<!--Treaer un solo CARD que se replique x la cant de psicos en la web-->

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 mt-80">
            <div class="card bg-white d-flex align-items-center justify-content-center ">
                <div class="w-100"><img src="https://images.pexels.com/photos/7467850/pexels-photo-7467850.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="" class="rounded-circle"></div>
                <div class="text-center ">
                    <p class="name">Jason Smith</p>
                    <p class="job">ENGINE MECHANIC</p>
                    <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
                        <li class="icon "><span class="fab fa-twitter"></span></li>
                        <li class="icon mx-2"><span class="fab fa-facebook"></span></li>
                        <li class="icon me-2"><span class="fab fa-google-plus"></span></li>
                        <li class="icon "><span class="fab fa-instagram"></span></li>
                    </ul>
                    <p class="dis pb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mt-80">
            <div class="card bg-white d-flex align-items-center justify-content-center">
                <div class="w-100"><img src="https://images.pexels.com/photos/7467850/pexels-photo-7467850.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="" class="rounded-circle"></div>
                <div class="text-center ">
                    <p class="name">Jason Smith</p>
                    <p class="job">ENGINE MECHANIC</p>
                    <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
                        <li class="icon "><span class="fab fa-twitter"></span></li>
                        <li class="icon mx-2"><span class="fab fa-facebook"></span></li>
                        <li class="icon me-2"><span class="fab fa-google-plus"></span></li>
                        <li class="icon "><span class="fab fa-instagram"></span></li>
                    </ul>
                    <p class="dis pb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mt-80">
            <div class="card bg-white d-flex align-items-center justify-content-center">
                <div class="w-100"><img src="https://images.pexels.com/photos/7467850/pexels-photo-7467850.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="" class="rounded-circle"></div>
                <div class="text-center ">
                    <p class="name">Jason Smith</p>
                    <p class="job">ENGINE MECHANIC</p>
                    <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
                        <li class="icon "><span class="fab fa-twitter"></span></li>
                        <li class="icon mx-2"><span class="fab fa-facebook"></span></li>
                        <li class="icon me-2"><span class="fab fa-google-plus"></span></li>
                        <li class="icon "><span class="fab fa-instagram"></span></li>
                    </ul>
                    <p class="dis pb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mt-80">
            <div class="card bg-white d-flex align-items-center justify-content-center">
                <div class="w-100"><img src="https://images.pexels.com/photos/7467850/pexels-photo-7467850.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="" class="rounded-circle"></div>
                <div class="text-center ">
                    <p class="name">Jason Smith</p>
                    <p class="job">ENGINE MECHANIC</p>
                    <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
                        <li class="icon "><span class="fab fa-twitter"></span></li>
                        <li class="icon mx-2"><span class="fab fa-facebook"></span></li>
                        <li class="icon me-2"><span class="fab fa-google-plus"></span></li>
                        <li class="icon "><span class="fab fa-instagram"></span></li>
                    </ul>
                    <p class="dis pb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur.</p>
                </div>
            </div>
        </div>
    </div>
</div>