<div class="card" style="width: 18rem;">
  <img [src]="curso.imagen" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{curso.title}}</h5>
    <p class="card-text">{{curso.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{curso.cost}}</li>
  </ul>
  <div class="card-body">
    <a href="#" (click)="addCart(curso)" class="btn btn-primary card-link"><i class="bi bi-cart">Me interesa!</i></a>
  </div>
</div>
<!--En addCart, debo ir a curso component (producto component profe) y ver la funcion para linquearla y que la lleve a facturacion.-->